{% load staticfiles %}	
	
    <body background="{% static "12345.jpg" %}">


<html>

<table border=1 align="center">
<div align="center"><h1>我的通讯录</h1></div>
<div align="center">共有<b>{{count}}</b>人，<a href="/addr_book/">添加联系人</a></div>
<form action="/search/" method="post">
{% csrf_token %}  
<div align="center"><b>输入联系人姓名：</b>
<input name="search"  type="text"><input type="submit" value="搜索"></div>
</form>
</table>
<table border=1 align="center">
<tr>
  <th>姓名</th><th>性别</th><th>学号</th><th>电话</th><th>E-mail</th><th>QQ</th><th>地址</th><th>生日</th>
 </tr>
  {% for people in people_list %}
  <tr>
	  <td>{{ people.name }}</td>
	  <td>{% if people.sex %} 男 {% else %} 女 {% endif %}</td>
	  <td>{{ people.number }}</td>
	  <td>{{ people.phone }}</td>
	  <td>{{ people.email }}</td>
	  <td>{{ people.qq }}</td>
	  <td>{{ people.birth }}</td>	  	  
	  <td>{{ people.address }}</td>
	  <td><a href="/delete/?id={{people.id}}">删除</td>
          <td><a href="/change/?id={{people.id}}">修改</td>
  </tr> 
{% endfor %}
</table>
<br><br>
<tr>
<div align="center">  <td><a href="/logout/">退出登录</td>
   &nbsp;&nbsp;&nbsp;&nbsp;
     <td><a href="/changepassword/">修改密码</td></div>
</tr>
  
</table>
</html>